#slideshow {
  height: 100%;
}

#slideshow-images, #slideshow-images > picture, #controls {
  background-color: #333322;
}

#slideshow-images {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  /*grid-template-rows: repeat(2, auto);*/

}

#slideshow-images > picture {
  /*border: 1px solid black;*/
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  /*size: 100%;*/
  z-index: 10;
  min-height: 10em;
  max-height: 20em;

}
#controls {
  position: absolute;
  height: 2em;
  left: 0;
  width: 100%;
  bottom: 0;
  color: rgba(0,0,0,1);
}

#left-side, #right-side {
  opacity: 0;
}

#button-left, #button-right {
  opacity: 0.5;
  position: absolute;
  top: 0;
  cursor:pointer;
}

#button-left {
  left: 5%;
}

#button-right {
  right: 5%;
}

#left-side {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
}

#right-side {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}
