@media only screen and (max-width: 600px) {

  body {
    overflow: hidden;
  }
  header {
    height: 90px;
  }

  header h1 {
    font-size: 3em;
    letter-spacing: normal;
    /*margin-top: -5px;*/
  }
  header h2 {
    margin-top: -40px;;
    font-size: 1.5em;
    letter-spacing: normal;
  }

  main {
    left: 0px;
    width: 100%;
    position: absolute;
    top: 150px;
    bottom: 30px;
  }

  #about h3 {
    margin-right: 0;
  }

  #about .quote {
    text-align: center;
    margin-left: 0;
  }

  #about img {
    margin: auto;
    width: 34%;
  }

  .attrib {
    margin-right: 0;
  }

  nav {
    position: absolute;
    width: 100%;
    top: 90px;
    height: 60px;
  }

  nav ul {
    position: absolute;
    top:0;
    left: 34%;
    margin: 0;
  }

  nav ul li {
    height: 18px;
    padding: 0;
    float: left;
    /*width: 50%;*/
    margin: 5px 0 5px 10px;
  }

  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-weight: 700;
  }

  footer {
    height: 30px;
  }

}
